<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AIOPS PLATFORM-{% block title %}{% endblock %}</title>

        <!--Favicon -->
        <link rel="icon" href="static/img/favicon.ico" type="image/x-icon"/>
        {% block css %}{% endblock %}

    </head>

    <body class="app ">

        <div id="spinner"></div>

        <div id="app">
            <div class="main-wrapper" >
                <nav class="navbar navbar-expand-lg main-navbar">
                    <a class="header-brand" href="index.html">
                        <img src="static/img/brand/logo.png" class="header-brand-img">
                    </a>
                    <form class="form-inline mr-auto">
                        <ul class="navbar-nav mr-3">
                            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i class="ion ion-search"></i></a></li>
                        </ul>
                        <div class="search-element">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
                        </div>
                    </form>
                    <ul class="navbar-nav navbar-right">
                        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion-ios-email-outline"></i></a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">Messages
                                    <div class="float-right">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                                <div class="dropdown-list-content">
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <img alt="image" src="static/img/avatar/avatar_robot.jpeg" class="rounded-circle dropdown-item-img">
                                        <div class="dropdown-item-desc">
                                            <div class="dropdownmsg d-flex">
                                                <div class="">
                                                    <b>System</b>
                                                    <p>Daliy Report</p>
                                                </div>
                                                <div class="time">2 mins ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link  nav-link-lg beep"><i class="ion-ios-bell-outline"></i></a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">Notifications
                                    <div class="float-right">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                                <div class="dropdown-list-content">
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-comment text-primary"></i>
                                        <div class="dropdown-item-desc">
                                            <b>New Message received</b> <div class="float-right"><span class="badge badge-pill badge-danger badge-sm">67</span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-list-toggle">
                            <a href="#" class="nav-link nav-link-lg full-screen-link">
                                <i class="ion-arrow-expand"  id="fullscreen-button"></i>
                            </a>
                        </li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                            <img src="static/img/avatar/avatar.jpeg" alt="profile-user" class="rounded-circle w-32">
                            <div class="d-sm-none d-lg-inline-block">Kyle Chen</div></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item has-icon">
                                    <i class="ion ion-android-person"></i> Profile
                                </a>
                                <a href="#" class="dropdown-item has-icon">
                                    <i class="ion-android-drafts"></i> Messages
                                </a>
                                <a href="#" class="dropdown-item has-icon">
                                    <i class="ion ion-gear-a"></i> Settings
                                </a>
                                <a href="{{ url_for("signoutpage") }}" class="dropdown-item has-icon">
                                    <i class="ion-ios-redo"></i> SignOut
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <aside class="app-sidebar">
                    <div class="app-sidebar__user">
                        <div class="dropdown">
                            <a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
                                <img alt="image" src="static/img/avatar/avatar.jpeg" class=" avatar-md rounded-circle">
                                <span class="ml-2 d-lg-block">
                                    <span class="text-white app-sidebar__user-name mt-5"> Kyle Chen </span><br>
                                    <span class="text-muted app-sidebar__user-name text-sm"> Data Scientist </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <ul class="side-menu">
                        <li class="slide">
                            <a class="side-menu__item" href="#"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label"> DashBoard </span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label"> CMDB </span><i class="angle fa fa-angle-right"></i></a>
                            <ul class="slide-menu">
                                <li><a href="#" class="slide-item"> Business Systems </a></li>
                                <li><a href="#" class="slide-item"> Servers </a></li>
                                <li><a href="#" class="slide-item"> Search CI </a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>

                {% block body %}
                {% endblock %}

                <footer class="main-footer">
                    <div class="text-center">
                        Copyright &copy;Kyle Chen 2019. <a href="https://hacking-linux.com/" target="_blank">Hacking Linux</a>
                    </div>
                </footer>

            </div>
        </div>

        {% block js %}{% endblock %}

    </body>
</html>
