<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
<script type="application/javascript" src="{{ url_for('static', filename = 'js/functions.js')}}"></script>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block body %}
        <h1>AIOPS PLATFORM</h1>
        {% if session['user_id'] %}
          Hi {{ session['user_name'] }}
          <a href= {{ signout_url }}> Logout </a>
        {% endif %}
    {% endblock %}
    </body>
</html>
