{% extends "Base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  {{ super() }}
  <div class="log">
  <div class="content2">
  <h2>Sign Up</h2>
  <label>{{ message }}</label>
  <form action="{{ url_for("signuppage") }}" method="post" name="signup">
      {{ form.csrf_token }}
      {{ form.user_name() }}<br>
      {{ form.email() }}<br>
      {{ form.password() }}<br>
      {{ form.repassword() }}<br>
      <input type="submit" value="Sign Up" class="register">
  </div>
  </div>
  </form>
{% endblock %}
