<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sign Up</title>
		
		<!--favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">
		
		<!--Icons css-->
		<link rel="stylesheet" href="static/css/icons.css">

		<!--Style css-->
		<link rel="stylesheet" href="static/css/style.css">

		<!--mCustomScrollbar css-->
		<link rel="stylesheet" href="static/plugins/scroll-bar/jquery.mCustomScrollbar.css">

		<!--Sidemenu css-->
		<link rel="stylesheet" href="static/plugins/toggle-menu/sidemenu.css">

	</head>

	<body class="bg-primary">
		<div id="app">
			<section class="section">
				<div class="container">
					<div class="row">
						<div class="single-page construction-bg single-pageimage cover-image" data-image-src="static/img/news/background.jpg">
							<div class="row">
								<div class="col-lg-6">
									<div class="wrapper wrapper2">
										<form  class="card-body" tabindex="500" action="{{ url_for("signuppage") }}" method="post" name="signup">
                                            {{ form.csrf_token }}
											<h3>Sign Up</h3>
											<div class="mail">
                                                {{ form.user_name() }}
												<label>User Name</label>
											</div>
											<div class="mail">
                                                {{ form.email() }}
												<label>Email</label>
											</div>
											<div class="passwd">
                                                {{ form.password() }}
												<label>Password</label>
											</div>
											<div class="passwd">
                                                {{ form.repassword() }}
												<label>RePassword</label>
											</div>
											<div class="submit">
                                                <input type="submit" value="Sign Up" class="btn btn-primary btn-block">
											</div>
                                            <p class="mb-2">{{ message }}</p>
											<p class="text-dark mb-0">Already have account?<a href="{{ url_for("signinpage") }}" class="text-primary ml-1">Sign In</a></p>
											
										</form>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="log-wrapper ">
										<div class="log-wrapper text-center ">
											<img src="static/img/brand/logo_white.png" class="mb-2 mt-4 mt-lg-0 " alt="logo">
                                            <p>An opensource AIOPS PLATFORM, designed and developed by Kyle Chen.</p>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</section>
		</div>

		<!--Jquery.min js-->
		<script src="static/js/jquery.min.js"></script>

		<!--popper js-->
		<script src="static/js/popper.js"></script>

		<!--Tooltip js-->
		<script src="static/js/tooltip.js"></script>

		<!--Bootstrap.min js-->
		<script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery.nicescroll.min js-->
		<script src="static/plugins/nicescroll/jquery.nicescroll.min.js"></script>

		<!--Scroll-up-bar.min js-->
		<script src="static/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
		<script src="static/js/moment.min.js"></script>

		<!--mCustomScrollbar js-->
		<script src="static/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Sidemenu js-->
		<script src="static/plugins/toggle-menu/sidemenu.js"></script>

		<!--Scripts js-->
		<script src="static/js/scripts.js"></script>

	</body>
</html>
