<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bar EChart1</title>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
</head>
<body>
    <p style="text-align: center;">CI Counts Bar Chart</p>
    <div id="main" style="width:900px;height:400px;margin:0 auto;"></div>
    <script type="text/javascript">
        var ciname_list = {{ ciname_list|tojson }};
        var civalue_list = {{ civalue_list|tojson }};
        console.log(civalue_list);
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            xAxis: {
                type: 'category',
                data: ciname_list
            },
            yAxis: {
                type:'value'
            },
            series: [{
                type: 'bar',
                data: civalue_list
            }]
        };
        myChart.setOption(option);
    </script>
</body>
</html>