<!DOCTYPE html>
<form action="{{ url_for("signuppage") }}" method="post" name="signup">
    {{ form.csrf_token }}
	<h3>Sign Up</h3>
	<div>
        {{ form.user_name() }}
		<label>User Name</label>
	</div>
	<div>
        {{ form.email() }}
		<label>Email</label>
	</div>
	<div>
        {{ form.password() }}
		<label>Password</label>
	</div>
	<div>
        {{ form.repassword() }}
		<label>RePassword</label>
	</div>
	<div>
        <input type="submit" value="Sign Up">
	</div>
    <p>{{ message }}</p>
	<p>Already have account?<a href="{{ url_for("signinpage") }}">Sign In</a></p>
</form>
