@charset "UTF-8";

@import url("../plugins/iconfonts/font-awesome/css/font-awesome.min.css");
@import url("../plugins/iconfonts/Glyphicons/glyphicon.css");
@import url("../plugins/iconfonts/feathericons/style.css");
@import url("../plugins/iconfonts/ionicons/css/ionicons.min.css");
@import url("../plugins/iconfonts/Linearicons/Linearicons.css");
@import url("../plugins/iconfonts/materialdesignicons/materialdesignicons.css");
@import url("../plugins/iconfonts/Pe-icon-7-stroke/Pe-icon-7.css");
@import url("../plugins/iconfonts/simple-line-icons/simple-line-icons.css");
@import url("../plugins/iconfonts/themify/themify.css");
@import url("../plugins/iconfonts/typicons/typicons.css");
@import url("../plugins/iconfonts/weathericons/weathericons.css");
